<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-show="inProgressAssignments.length">
        <h2 class="font-bold mb-2">In Progress</h2>

        <ul>
          <li v-for="assignment in inProgressAssignments" :key="assignment.id">
            <label
              >{{ assignment.title }}
              <input type="checkbox" v-model="assignment.completed" />
            </label>
          </li>
        </ul>
      </section>
      <section
        v-show="assignments.filter(a => a.completed).length"
        class="mt-8"
      >
        <h2 class="font-bold mb-2">Completed assignments</h2>

        <ul>
          <li v-for="assignment in assignments.filter(a => a.completed)">
            <label
              >{{ assignment.title }}
              <input type="checkbox" v-model="assignment.completed" />
            </label>
          </li>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            assignments: [
              { id: 1, title: "Finish Project", completed: false },
              { id: 2, title: "Read chapter 4", completed: false },
              { id: 3, title: "Turn in homework", completed: false },
            ],
          };
        },
        computed: {
          completedAssignments() {
            return this.assignments.filter((a) => a.completed);
          },
          inProgressAssignments() {
            return this.assignments.filter((a) => !a.completed);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
